# --------------------------------------------------------------------
# Global / shared settings
# --------------------------------------------------------------------

# This URL will work for Camunda SaaS environments; change if self-managed.
ZEEBE_AUTHORIZATION_SERVER_URL=https://login.cloud.camunda.io/oauth/token

# Cluster ID for your Zeebe cluster.
CLUSTER_ID=fill-this-in

# --------------------------------------------------------------------
# Camunda 8 REST API tutorial (Roles management)
# --------------------------------------------------------------------
# Values from a cluster-level API client with Zeebe scope.

# Client ID
CAMUNDA_CLIENT_ID=fill-this-in

# Client Secret
CAMUNDA_CLIENT_SECRET=fill-this-in

# Audience for the Camunda REST API (SaaS = zeebe.camunda.io)
CAMUNDA_TOKEN_AUDIENCE=zeebe.camunda.io

# REST API endpoint for your cluster (shown in Console UI as ZEEBE_REST_ADDRESS)
CAMUNDA_REST_ADDRESS=fill-this-in

# --------------------------------------------------------------------
# Administration API tutorial
# --------------------------------------------------------------------
# Values from an organization-level API client with Cluster scope.
# See: https://docs.camunda.io/docs/apis-tools/administration-api/authentication/#client-credentials-and-scopes

ADMINISTRATION_CLIENT_ID=fill-this-in
ADMINISTRATION_CLIENT_SECRET=fill-this-in

# These values will only change if you’re not using SaaS.
ADMINISTRATION_AUDIENCE=api.cloud.camunda.io
ADMINISTRATION_API_URL=https://api.cloud.camunda.io

# --------------------------------------------------------------------
# Optimize API tutorial
# --------------------------------------------------------------------
# Values from a cluster-level API client with Optimize scope.

OPTIMIZE_CLIENT_ID=fill-this-in
OPTIMIZE_CLIENT_SECRET=fill-this-in
OPTIMIZE_BASE_URL=fill-this-in

# These values will only change if you’re not using SaaS.
OPTIMIZE_AUDIENCE=optimize.camunda.io

# --------------------------------------------------------------------
# Zeebe API tutorial
# --------------------------------------------------------------------
# Values from a cluster-level API client with Zeebe scope.

ZEEBE_CLIENT_ID=fill-this-in
ZEEBE_CLIENT_SECRET=fill-this-in
ZEEBE_AUDIENCE=zeebe.camunda.io
ZEEBE_BASE_URL=fill-this-in

# --------------------------------------------------------------------
# Web Modeler API tutorial
# --------------------------------------------------------------------
# Values will only change if you’re not using SaaS.

MODELER_BASE_URL=https://modeler.camunda.io/api/v1
MODELER_AUDIENCE=modeler.cloud.camunda.io
MODELER_CLIENT_ID=fill-this-in
MODELER_CLIENT_SECRET=fill-this-in
